<div class="container">
    <h2>Cadastrar Produto</h2>
    <form (ngSubmit)="addProduto(produtoForm.value)" #produtoForm="ngForm">
      <label for="codigo">Código:</label>
      <input type="text" id="codigo" name="codigo" ngModel [ngModel]="produtoEditado.codigo" required>
  
      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" name="descricao" ngModel [ngModel]="produtoEditado.descricao" required>
  
      <label for="descricaoDetalhada">Descrição Detalhada:</label>
      <input type="text" id="descricaoDetalhada" name="descricaoDetalhada" ngModel [ngModel]="produtoEditado.descricaoDetalhada" required>
  
      <label for="unidade">Unidade:</label>
      <input type="text" id="unidade" name="unidade" ngModel [ngModel]="produtoEditado.unidade" required>
  
      <label for="precoCusto">Preço Custo:</label>
      <input type="number" id="precoCusto" name="precoCusto" ngModel [ngModel]="produtoEditado.precoCusto" required>
  
      <label for="precoVenda">Preço Venda:</label>
      <input type="number" id="precoVenda" name="precoVenda" ngModel [ngModel]="produtoEditado.precoVenda" required>
  
      <button type="submit">{{ produtoEditado.codigo ? 'Editar Produto' : 'Salvar' }}</button>
    </form>
  
    <h3>Produtos Cadastrados</h3>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Descrição</th>
          <th>Descrição Detalhada</th>
          <th>Unidade</th>
          <th>Preço Custo</th>
          <th>Preço Venda</th>
          <th class="acao-coluna">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos; let i = index" (click)="selectProduto(produto)">
          <td>{{ produto.codigo }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.descricaoDetalhada }}</td>
          <td>{{ produto.unidade }}</td>
          <td>{{ produto.precoCusto | currency }}</td>
          <td>{{ produto.precoVenda | currency }}</td>
          <td class="acao-coluna">
            <!-- Botão de Excluir com ícone de lixeira -->
            <button class="btn-delete" (click)="removeProduto(i)" title="Excluir Produto">🗑️</button>
          </td>          
        </tr>
      </tbody>
    </table>
  </div>
  